In [1]:
import pymongo
import os
import pandas as pd

import time

## Addresses IP des 3 instances:

In [2]:
DB_IP = ["172.31.31.100", "172.31.31.101", "172.31.31.102"]

## Nom du replica set:

In [3]:
REPLICA_SET = "replica-set"

## Liste des états:

2016-11-08-20-00_Minnesota.txt
2016-11-08-20-01_Alabama.txt
2016-11-08-20-01_Montana.txt
2016-11-08-20-01_Utah.txt
2016-11-08-20-02_Caroline_du_Sud.txt
2016-11-08-20-02_New_York.txt
2016-11-08-20-03_Nouveau_Mexique.txt
2016-11-08-20-04_Californie.txt
2016-11-08-20-04_Colorado.txt
2016-11-08-20-05_Connecticut.txt
2016-11-08-20-08_District_de_Columbia.txt
2016-11-08-20-08_Kentucky.txt
2016-11-08-20-09_Caroline_du_Nord.txt
2016-11-08-20-09_Vermont.txt
2016-11-08-20-10_Dakota_du_Sud.txt
2016-11-08-20-11_Alaska.txt
2016-11-08-20-13_Arkansas.txt
2016-11-08-20-13_Washington.txt
2016-11-08-20-15_Hawai.txt
2016-11-08-20-17_Wisconsin.txt
2016-11-08-20-19_Georgie.txt
2016-11-08-20-22_Ohio.txt
2016-11-08-20-24_Missouri.txt
2016-11-08-20-24_New_Hampshire.txt
2016-11-08-20-24_Virginie.txt
2016-11-08-20-27_Iowa.txt
2016-11-08-20-28_Delaware.txt
2016-11-08-20-29_Arizona.txt
2016-11-08-20-31_Louisiane.txt
2016-11-08-20-31_Massachusetts.txt
2016-11-08-20-31_Texas.txt
2016-11-08-20-34_Dakota_du_Nord.txt
2016-11-08-20-35_Tennessee.txt
2016-11-08-20-36_Wyoming.txt
2016-11-08-20-37_Floride.txt
2016-11-08-20-37_Illinois.txt
2016-11-08-20-40_Nevada.txt
2016-11-08-20-41_Idaho.txt
2016-11-08-20-41_Pennsylvanie.txt
2016-11-08-20-43_Virginie_Occidentale.txt
2016-11-08-20-48_Maryland.txt
2016-11-08-20-48_Mississippi.txt
2016-11-08-20-48_Rhode_Island.txt
2016-11-08-20-50_Michigan.txt
2016-11-08-20-51_Oklahoma.txt
2016-11-08-20-52_Nebraska.txt
2016-11-08-20-56_New_Jersey.txt
2016-11-08-20-57_Indiana.txt
2016-11-08-20-57_Kansas.txt
2016-11-08-20-58_Maine.txt
2016-11-08-20-59_Oregon.txt"

In [4]:
MONGO_CLI = "mongodb://{}:27017,{}:27017,{}:27017/?replicaSet={}".format(DB_IP[0], DB_IP[1], DB_IP[2], REPLICA_SET)

In [5]:
REPLICA = "{}/{}:27017,{}:27017,{}:27017".format(REPLICA_SET, DB_IP[0], DB_IP[1], DB_IP[2])
print(REPLICA)

replica-set/172.31.31.100:27017,172.31.31.101:27017,172.31.31.102:27017

In [6]:
MONGO_CLI

'mongodb://172.31.31.100:27017,172.31.31.101:27017,172.31.31.102:27017/?replicaSet=replica-set'

In [7]:
c = pymongo.MongoClient(MONGO_CLI)

In [8]:
c.database_names()

['local', 'dontexist', 'POTUS']

In [9]:
import subprocess
from subprocess import call
def chargement(filename,DIR):
        #DIR = "~/POTUS/data_POTUS/"
        script = DIR + "import.bash"
        col = "col2 "
        # print script
        call([script, filename ,col])
        # insertion dans la collection l' etat traité
        c.POTUS.traitement.insert_one({'traitement': filename})
        print("Traitement : ", filename)

In [15]:
list_File_col1 =['2016-11-08-20-00_Minnesota.txt'
,'2016-11-08-20-01_Alabama.txt'
,'2016-11-08-20-01_Montana.txt'
,'2016-11-08-20-01_Utah.txt'
,'2016-11-08-20-02_Caroline_du_Sud.txt'
,'2016-11-08-20-02_New_York.txt'
,'2016-11-08-20-03_Nouveau_Mexique.txt']

In [16]:
%%time
DIR = "/home/ec2-user/POTUS/data_POTUS/"
for file in list_File_col1:
    chargement(file,DIR)

Traitement :  2016-11-08-20-00_Minnesota.txt
Traitement :  2016-11-08-20-01_Alabama.txt
Traitement :  2016-11-08-20-01_Montana.txt
Traitement :  2016-11-08-20-01_Utah.txt
Traitement :  2016-11-08-20-02_Caroline_du_Sud.txt
Traitement :  2016-11-08-20-02_New_York.txt
Traitement :  2016-11-08-20-03_Nouveau_Mexique.txt
CPU times: user 0 ns, sys: 12 ms, total: 12 ms
Wall time: 63 ms

In [10]:
#%%time
#DIR = "/home/ec2-user/POTUS/data_POTUS/"
#filename =DIR + "2016-11-08-20-00_Minnesota.txt"
#chargement(filename,DIR)

Traitement :  /home/ec2-user/POTUS/data_POTUS/2016-11-08-20-00_Minnesota.txt

In [14]:
%%time
myCurso = c.POTUS.col2.aggregate([{'$group' : { '_id': '$STATE' ,'number': { '$sum' : 1} }}])

for i in myCurso:
    print(i)


myCurso1 = c.POTUS.traitement.find()  
for i in myCurso1:
    print(i)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 2.88 ms

NameError: name 'myCurso1' is not defined

In [12]:
list_File = [
'2016-11-08-20-00_Minnesota.txt'
,'2016-11-08-20-01_Alabama.txt'
,'2016-11-08-20-01_Montana.txt'
,'2016-11-08-20-01_Utah.txt'
,'2016-11-08-20-02_Caroline_du_Sud.txt'
,'2016-11-08-20-02_New_York.txt'
,'2016-11-08-20-03_Nouveau_Mexique.txt'
,'2016-11-08-20-04_Californie.txt'
,'2016-11-08-20-04_Colorado.txt'
,'2016-11-08-20-05_Connecticut.txt'
,'2016-11-08-20-08_District_de_Columbia.txt'
,'2016-11-08-20-08_Kentucky.txt'
,'2016-11-08-20-09_Caroline_du_Nord.txt'
,'2016-11-08-20-09_Vermont.txt'
,'2016-11-08-20-10_Dakota_du_Sud.txt'
,'2016-11-08-20-11_Alaska.txt'
,'2016-11-08-20-13_Arkansas.txt'
,'2016-11-08-20-13_Washington.txt'
,'2016-11-08-20-15_Hawai.txt'
,'2016-11-08-20-17_Wisconsin.txt'
,'2016-11-08-20-19_Georgie.txt'
,'2016-11-08-20-22_Ohio.txt'
,'2016-11-08-20-24_Missouri.txt'
,'2016-11-08-20-24_New_Hampshire.txt'
,'2016-11-08-20-24_Virginie.txt'
,'2016-11-08-20-27_Iowa.txt'
,'2016-11-08-20-28_Delaware.txt'
,'2016-11-08-20-29_Arizona.txt'
,'2016-11-08-20-31_Louisiane.txt'
,'2016-11-08-20-31_Massachusetts.txt'
,'2016-11-08-20-31_Texas.txt'
,'2016-11-08-20-34_Dakota_du_Nord.txt'
,'2016-11-08-20-35_Tennessee.txt'
,'2016-11-08-20-36_Wyoming.txt'
,'2016-11-08-20-37_Floride.txt'
,'2016-11-08-20-37_Illinois.txt'
,'2016-11-08-20-40_Nevada.txt'
,'2016-11-08-20-41_Idaho.txt'
,'2016-11-08-20-41_Pennsylvanie.txt'
,'2016-11-08-20-43_Virginie_Occidentale.txt'
,'2016-11-08-20-48_Maryland.txt'
,'2016-11-08-20-48_Mississippi.txt'
,'2016-11-08-20-48_Rhode_Island.txt'
,'2016-11-08-20-50_Michigan.txt'
,'2016-11-08-20-51_Oklahoma.txt'
,'2016-11-08-20-52_Nebraska.txt'
,'2016-11-08-20-56_New_Jersey.txt'
,'2016-11-08-20-57_Indiana.txt'
,'2016-11-08-20-57_Kansas.txt'
,'2016-11-08-20-58_Maine.txt'
,'2016-11-08-20-59_Oregon.txt']

In [14]:
for file_name in list_File :
    chargement(file_name)

Traitement :  2016-11-08-20-00_Minnesota.txt
Traitement :  2016-11-08-20-01_Alabama.txt
Traitement :  2016-11-08-20-01_Montana.txt
Traitement :  2016-11-08-20-01_Utah.txt
Traitement :  2016-11-08-20-02_Caroline_du_Sud.txt
Traitement :  2016-11-08-20-02_New_York.txt
Traitement :  2016-11-08-20-03_Nouveau_Mexique.txt
Traitement :  2016-11-08-20-04_Californie.txt
Traitement :  2016-11-08-20-04_Colorado.txt
Traitement :  2016-11-08-20-05_Connecticut.txt
Traitement :  2016-11-08-20-08_District_de_Columbia.txt
Traitement :  2016-11-08-20-08_Kentucky.txt
Traitement :  2016-11-08-20-09_Caroline_du_Nord.txt
Traitement :  2016-11-08-20-09_Vermont.txt
Traitement :  2016-11-08-20-10_Dakota_du_Sud.txt
Traitement :  2016-11-08-20-11_Alaska.txt
Traitement :  2016-11-08-20-13_Arkansas.txt
Traitement :  2016-11-08-20-13_Washington.txt
Traitement :  2016-11-08-20-15_Hawai.txt
Traitement :  2016-11-08-20-17_Wisconsin.txt
Traitement :  2016-11-08-20-19_Georgie.txt
Traitement :  2016-11-08-20-22_Ohio.txt
Traitement :  2016-11-08-20-24_Missouri.txt
Traitement :  2016-11-08-20-24_New_Hampshire.txt
Traitement :  2016-11-08-20-24_Virginie.txt
Traitement :  2016-11-08-20-27_Iowa.txt
Traitement :  2016-11-08-20-28_Delaware.txt
Traitement :  2016-11-08-20-29_Arizona.txt
Traitement :  2016-11-08-20-31_Louisiane.txt
Traitement :  2016-11-08-20-31_Massachusetts.txt
Traitement :  2016-11-08-20-31_Texas.txt
Traitement :  2016-11-08-20-34_Dakota_du_Nord.txt
Traitement :  2016-11-08-20-35_Tennessee.txt
Traitement :  2016-11-08-20-36_Wyoming.txt
Traitement :  2016-11-08-20-37_Floride.txt
Traitement :  2016-11-08-20-37_Illinois.txt
Traitement :  2016-11-08-20-40_Nevada.txt
Traitement :  2016-11-08-20-41_Idaho.txt
Traitement :  2016-11-08-20-41_Pennsylvanie.txt
Traitement :  2016-11-08-20-43_Virginie_Occidentale.txt
Traitement :  2016-11-08-20-48_Maryland.txt
Traitement :  2016-11-08-20-48_Mississippi.txt
Traitement :  2016-11-08-20-48_Rhode_Island.txt
Traitement :  2016-11-08-20-50_Michigan.txt
Traitement :  2016-11-08-20-51_Oklahoma.txt
Traitement :  2016-11-08-20-52_Nebraska.txt
Traitement :  2016-11-08-20-56_New_Jersey.txt
Traitement :  2016-11-08-20-57_Indiana.txt
Traitement :  2016-11-08-20-57_Kansas.txt
Traitement :  2016-11-08-20-58_Maine.txt
Traitement :  2016-11-08-20-59_Oregon.txt

In [2]:
list_File

['2016-11-08-20-00_Minnesota.txt',
 '2016-11-08-20-01_Alabama.txt',
 '2016-11-08-20-01_Montana.txt',
 '2016-11-08-20-01_Utah.txt',
 '2016-11-08-20-02_Caroline_du_Sud.txt',
 '2016-11-08-20-02_New_York.txt',
 '2016-11-08-20-03_Nouveau_Mexique.txt',
 '2016-11-08-20-04_Californie.txt',
 '2016-11-08-20-04_Colorado.txt',
 '2016-11-08-20-05_Connecticut.txt',
 '2016-11-08-20-08_District_de_Columbia.txt',
 '2016-11-08-20-08_Kentucky.txt',
 '2016-11-08-20-09_Caroline_du_Nord.txt',
 '2016-11-08-20-09_Vermont.txt',
 '2016-11-08-20-10_Dakota_du_Sud.txt',
 '2016-11-08-20-11_Alaska.txt',
 '2016-11-08-20-13_Arkansas.txt',
 '2016-11-08-20-13_Washington.txt',
 '2016-11-08-20-15_Hawai.txt',
 '2016-11-08-20-17_Wisconsin.txt',
 '2016-11-08-20-19_Georgie.txt',
 '2016-11-08-20-22_Ohio.txt',
 '2016-11-08-20-24_Missouri.txt',
 '2016-11-08-20-24_New_Hampshire.txt',
 '2016-11-08-20-24_Virginie.txt',
 '2016-11-08-20-27_Iowa.txt',
 '2016-11-08-20-28_Delaware.txt',
 '2016-11-08-20-29_Arizona.txt',
 '2016-11-08-20-31_Louisiane.txt',
 '2016-11-08-20-31_Massachusetts.txt',
 '2016-11-08-20-31_Texas.txt',
 '2016-11-08-20-34_Dakota_du_Nord.txt',
 '2016-11-08-20-35_Tennessee.txt',
 '2016-11-08-20-36_Wyoming.txt',
 '2016-11-08-20-37_Floride.txt',
 '2016-11-08-20-37_Illinois.txt',
 '2016-11-08-20-40_Nevada.txt',
 '2016-11-08-20-41_Idaho.txt',
 '2016-11-08-20-41_Pennsylvanie.txt',
 '2016-11-08-20-43_Virginie_Occidentale.txt',
 '2016-11-08-20-48_Maryland.txt',
 '2016-11-08-20-48_Mississippi.txt',
 '2016-11-08-20-48_Rhode_Island.txt',
 '2016-11-08-20-50_Michigan.txt',
 '2016-11-08-20-51_Oklahoma.txt',
 '2016-11-08-20-52_Nebraska.txt',
 '2016-11-08-20-56_New_Jersey.txt',
 '2016-11-08-20-57_Indiana.txt',
 '2016-11-08-20-57_Kansas.txt',
 '2016-11-08-20-58_Maine.txt',
 '2016-11-08-20-59_Oregon.txt']

In [31]:
%%time
#c.POTUS.election.find({"STATE": "Minnesota"}).cou
#c.POTUS.election.group({})
#c.POTUS.election.aggregate([{$group : { _id: STATE :{$STATE:"$STATE"} } }])


myCurso = c.POTUS.election.aggregate([{'$group' : { '_id': '$STATE' ,'number': { '$sum' : 1} }}])

for i in myCurso:
    print(i)

{'_id': 'Californie', 'number': 14610499}
{'_id': 'Minnesota', 'number': 2944813}
CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 34.6 s

In [53]:
%%time
myCurso = c.POTUS.election.aggregate([{'$group' : { '_id': { 'STATE' :'$STATE', 'CANDIDATE':'$CANDIDATE'},'total': { '$sum' : 1} }}])

CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 34.2 s

In [54]:
x =[]
for i in myCurso:
    x.append(i)
    print(i)

{'_id': {'CANDIDATE': 'Blanc', 'STATE': 'Californie'}, 'total': 428915}
{'_id': {'CANDIDATE': 'McMullin', 'STATE': 'Californie'}, 'total': 39586}
{'_id': {'CANDIDATE': 'Johnson', 'STATE': 'Californie'}, 'total': 478499}
{'_id': {'CANDIDATE': 'Stein', 'STATE': 'Californie'}, 'total': 278657}
{'_id': {'CANDIDATE': 'Clinton', 'STATE': 'Californie'}, 'total': 8753788}
{'_id': {'CANDIDATE': 'Castle', 'STATE': 'Minnesota'}, 'total': 9456}
{'_id': {'CANDIDATE': 'Autre', 'STATE': 'Minnesota'}, 'total': 41657}
{'_id': {'CANDIDATE': 'Clinton', 'STATE': 'Minnesota'}, 'total': 1367716}
{'_id': {'CANDIDATE': 'Stein', 'STATE': 'Minnesota'}, 'total': 36985}
{'_id': {'CANDIDATE': 'Autre', 'STATE': 'Californie'}, 'total': 147244}
{'_id': {'CANDIDATE': 'McMullin', 'STATE': 'Minnesota'}, 'total': 53076}
{'_id': {'CANDIDATE': 'Trump', 'STATE': 'Californie'}, 'total': 4483810}
{'_id': {'CANDIDATE': 'Johnson', 'STATE': 'Minnesota'}, 'total': 112972}
{'_id': {'CANDIDATE': 'Trump', 'STATE': 'Minnesota'}, 'total': 1322951}

In [95]:
#result = pd.DataFrame(list(myCurso)

dic_election_list =[]
for elt in x :
    f = elt['total']
    e  = elt['_id']
    li = [e['STATE'],e['CANDIDATE'],f]
    dic_election_list.append(li)

df =pd.DataFrame(dic_election_list, columns=["STATE", "CANDIDATE", "ToTaL"])

print(df)

         STATE CANDIDATE    ToTaL
0   Californie     Blanc   428915
1   Californie  McMullin    39586
2   Californie   Johnson   478499
3   Californie     Stein   278657
4   Californie   Clinton  8753788
5    Minnesota    Castle     9456
6    Minnesota     Autre    41657
7    Minnesota   Clinton  1367716
8    Minnesota     Stein    36985
9   Californie     Autre   147244
10   Minnesota  McMullin    53076
11  Californie     Trump  4483810
12   Minnesota   Johnson   112972
13   Minnesota     Trump  1322951

In [93]:
#result.describe()

         STATE CANDIDATE    ToTaL
0   Californie     Blanc   428915
1   Californie  McMullin    39586
2   Californie   Johnson   478499
3   Californie     Stein   278657
4   Californie   Clinton  8753788
5    Minnesota    Castle     9456
6    Minnesota     Autre    41657
7    Minnesota   Clinton  1367716
8    Minnesota     Stein    36985
9   Californie     Autre   147244
10   Minnesota  McMullin    53076
11  Californie     Trump  4483810
12   Minnesota   Johnson   112972
13   Minnesota     Trump  1322951

In [77]:
COL = ["Time", "State", "Candidate"]

In [19]:
df_Minnesota = pd.read_csv("data_POTUS/2016-11-08-20-00_Minnesota.txt", sep=";", header = None, names = COL)

In [33]:
df_Minnesota["Candidate"].value_counts()

Clinton     1367716
Trump       1322951
Johnson      112972
McMullin      53076
Autre         41657
Stein         36985
Castle         9456
Name: Candidate, dtype: int64

In [25]:
df_Minnesota.tail()

                     Time      State Candidate
2944808  2016-11-08T20:00  Minnesota     Autre
2944809  2016-11-08T20:00  Minnesota     Autre
2944810  2016-11-08T20:00  Minnesota     Autre
2944811  2016-11-08T20:00  Minnesota     Autre
2944812  2016-11-08T20:00  Minnesota     Autre

In [46]:
db = c["dontexist"]
cn = db["mycollection"]

In [56]:
start_time = time.time()
many = df[2844809:2944809].to_dict(orient='records')
cn.insert_many(many)
print("--- %s seconds ---" % (time.time() - start_time))

--- 3.296091079711914 seconds ---

In [81]:
len(many)

100000

In [61]:
c

MongoClient(host=['172.31.31.101:27017', '172.31.31.100:27017', '172.31.31.102:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='replica-set')

In [49]:
cn.count()

1500026

In [57]:
cn.find({"Candidate": "Autre"}).count()

41653

In [89]:
len(df)

2944813

In [45]:
c.dontexist.collection_names()

['mycollection', 'system.indexes']

In [49]:
db = c["dontexist"]

In [50]:
db.collection_names()

['mycollection', 'system.indexes']

In [54]:
cn = db["mycollection"]

In [67]:
print(collection.find_one())

{'item': 'box', '_id': ObjectId('58769be76ee75c8173207f03'), 'qty': 20.0}

In [64]:
cn.insert_one(
    {"Time":"2016-11-08T20:00",
     "State":"Minnesota",
     "Candidate":"Clinton"})

In [80]:
cn.insert_many(
    [{"Time":"2016-11-08T20:00",
      "State":"Minnesota","Candidate":"Clinton"},
     {"Time":"2016-11-08T20:00",
      "State":"Minnesota","Candidate":"Clinton"}])

In [88]:
cn.insert_many(many)

In [62]:
one

'[{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"}]'

In [85]:
many

'[{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"},{"Time":"2016-11-08T20:00","State":"Minnesota","Candidate":"Clinton"}]'