In [1]:
import pymongo
import os
import pandas as pd

import time

## Addresses IP des 3 instances:

In [2]:
DB_IP = ["172.31.31.100", "172.31.31.101", "172.31.31.102"]

## Nom du replica set:

In [3]:
REPLICA_SET = "replica-set"

## Liste des Ã©tats:

2016-11-08-20-00_Minnesota.txt
2016-11-08-20-01_Alabama.txt
2016-11-08-20-01_Montana.txt
2016-11-08-20-01_Utah.txt
2016-11-08-20-02_Caroline_du_Sud.txt
2016-11-08-20-02_New_York.txt
2016-11-08-20-03_Nouveau_Mexique.txt
2016-11-08-20-04_Californie.txt
2016-11-08-20-04_Colorado.txt
2016-11-08-20-05_Connecticut.txt
2016-11-08-20-08_District_de_Columbia.txt
2016-11-08-20-08_Kentucky.txt
2016-11-08-20-09_Caroline_du_Nord.txt
2016-11-08-20-09_Vermont.txt
2016-11-08-20-10_Dakota_du_Sud.txt
2016-11-08-20-11_Alaska.txt
2016-11-08-20-13_Arkansas.txt
2016-11-08-20-13_Washington.txt
2016-11-08-20-15_Hawai.txt
2016-11-08-20-17_Wisconsin.txt
2016-11-08-20-19_Georgie.txt
2016-11-08-20-22_Ohio.txt
2016-11-08-20-24_Missouri.txt
2016-11-08-20-24_New_Hampshire.txt
2016-11-08-20-24_Virginie.txt
2016-11-08-20-27_Iowa.txt
2016-11-08-20-28_Delaware.txt
2016-11-08-20-29_Arizona.txt
2016-11-08-20-31_Louisiane.txt
2016-11-08-20-31_Massachusetts.txt
2016-11-08-20-31_Texas.txt
2016-11-08-20-34_Dakota_du_Nord.txt
2016-11-08-20-35_Tennessee.txt
2016-11-08-20-36_Wyoming.txt
2016-11-08-20-37_Floride.txt
2016-11-08-20-37_Illinois.txt
2016-11-08-20-40_Nevada.txt
2016-11-08-20-41_Idaho.txt
2016-11-08-20-41_Pennsylvanie.txt
2016-11-08-20-43_Virginie_Occidentale.txt
2016-11-08-20-48_Maryland.txt
2016-11-08-20-48_Mississippi.txt
2016-11-08-20-48_Rhode_Island.txt
2016-11-08-20-50_Michigan.txt
2016-11-08-20-51_Oklahoma.txt
2016-11-08-20-52_Nebraska.txt
2016-11-08-20-56_New_Jersey.txt
2016-11-08-20-57_Indiana.txt
2016-11-08-20-57_Kansas.txt
2016-11-08-20-58_Maine.txt
2016-11-08-20-59_Oregon.txt"

In [4]:
MONGO_CLI = "mongodb://{}:27017,{}:27017,{}:27017/?replicaSet={}".format(DB_IP[0], DB_IP[1], DB_IP[2], REPLICA_SET)

In [5]:
REPLICA = "{}/{}:27017,{}:27017,{}:27017".format(REPLICA_SET, DB_IP[0], DB_IP[1], DB_IP[2])
print(REPLICA)

replica-set/172.31.31.100:27017,172.31.31.101:27017,172.31.31.102:27017

In [6]:
MONGO_CLI

'mongodb://172.31.31.100:27017,172.31.31.101:27017,172.31.31.102:27017/?replicaSet=replica-set'

In [7]:
c = pymongo.MongoClient(MONGO_CLI)

In [8]:
c.database_names()

['local', 'dontexist', 'POTUS']

##### Fonction appel script sur le front

In [12]:

myCurso1 = c.POTUS.synthese.find()  
dic_election_list =[]
for i in myCurso1:
    print(i)
    li = [i['state'],i['Trump'],i['Clinton'], i['Other']]
    dic_election_list.append(li)

df =pd.DataFrame(dic_election_list, columns=["STATE", "Trump", "Clinton","Other"])

print(df)

{'state': 'Minnesota', '_id': ObjectId('588086ed73ebee0b131925ec'), 'Trump': 1322951, 'Other': 254146, 'Clinton': 1367716}
{'state': 'Alabama', '_id': ObjectId('5880874e73ebee0b131925ee'), 'Trump': 1318255, 'Other': 89680, 'Clinton': 729547}
{'state': 'Montana', '_id': ObjectId('5880876b73ebee0b131925f0'), 'Trump': 279240, 'Other': 59952, 'Clinton': 177709}
{'state': 'Utah', '_id': ObjectId('588087a273ebee0b131925f2'), 'Trump': 515231, 'Other': 305523, 'Clinton': 310676}
{'state': 'Caroline_du_Sud', '_id': ObjectId('5880880a73ebee0b131925f4'), 'Trump': 1155389, 'Other': 92265, 'Clinton': 855373}
{'state': 'New_York', '_id': ObjectId('5880897a73ebee0b131925f6'), 'Trump': 2814346, 'Other': 425300, 'Clinton': 4547418}
{'state': 'Nouveau_Mexique', '_id': ObjectId('588089bb73ebee0b131925f8'), 'Trump': 319666, 'Other': 99143, 'Clinton': 385234}
             STATE    Trump  Clinton   Other
0        Minnesota  1322951  1367716  254146
1          Alabama  1318255   729547   89680
2          Montana   279240   177709   59952
3             Utah   515231   310676  305523
4  Caroline_du_Sud  1155389   855373   92265
5         New_York  2814346  4547418  425300
6  Nouveau_Mexique   319666   385234   99143